In [1]:
import pandas as pd

In [3]:
pd.read_csv("../data/datasets/visits_sp_unique_train_positivo_1000_random_0.csv")

,Unnamed: 0,id,snp_8_133462953,snp_2_91635413,snp_9_25963828,snp_1_17764169,snp_12_41767967,snp_4_49530811,snp_2_96519717,snp_7_116910447,...,snp_1_143276644,snp_16_9536673,snp_20_25734788,AGE,T2D,sex,mo,fa,mo_t2d,fa_t2d
0,0,A13186,0,1,0,0,0,0,0,0,...,0,0,0,18,0,F,A13125,A13206,0.0,2.0
1,1,A04177,0,0,0,0,0,1,0,0,...,1,0,0,30,0,F,A01243,A04011,1.0,2.0
2,2,A20059,0,2,0,0,0,1,1,0,...,1,0,1,26,0,F,A02236,A20011,0.0,2.0
3,3,A22024,0,0,0,0,0,0,0,0,...,0,0,0,38,0,F,A22063,A22040,0.0,2.0
4,4,A24012,0,0,0,0,0,0,0,0,...,0,0,0,70,0,F,A24154,A24116,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,1787,A01939,0,0,0,0,0,0,0,0,...,0,0,0,33,0,M,A01937,A01938,0.0,1.0
1788,1788,834131,0,0,0,0,0,1,0,0,...,0,0,0,19,0,M,834129,834132,0.0,2.0
1789,1789,A07058,0,0,0,0,0,0,0,0,...,0,0,0,46,1,F,A07038,A07054,2.0,2.0
1790,1790,A16013,0,0,1,1,0,1,1,1,...,1,0,1,90,1,M,A16047,A16011,2.0,2.0
1791,1791,A47052,0,0,0,0,0,0,0,1,...,0,0,0,20,1,F,A47011,A47032,0.0,2.0

In [10]:
a = -1

In [12]:
if a < 0 or a > 20:
    print(True)

True